body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
    background: pink;
}

@media (min-width:400px) and (max-width:650px) {
    body {
        background: purple;
    }
}

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #b7832f;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    width: 95%;
}

.columns {
    display: flex;
    /* flex-direction: row; */
    margin: 1em 0;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
}

.col-bg {
    background: #212614;
    padding: 1em;
    color: #fff;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

@media (max-width: 600px) {
    .col {
        width: 100%;
    }
}


/* .col {
    border: 2px solid black;
} */